.carousel {
    position: relative;
    width: 85vw;
    max-width: 100%;
    height: 65vh;
    margin: auto;
    overflow: hidden;
    right: 40px;
    border-radius: 10px;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    border-radius: 5px;
    text-align: left !important;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    user-select: none;
    opacity: 0;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  .Bet{
    text-decoration: underline red;
    color: white;
    font-size: 1rem;
    gap: 1.5rem;
  }
  .Bet:hover{
    text-decoration: underline white;
    color: red;
  }
  