.navbar{
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(273, 100%, 10%);
  /* color: #fff; */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  box-sizing: border-box;
  z-index: 1001;
}
.div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div>a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.div>a span{
    color: rgba(254, 198, 54, 1);
}
.auth{
    display: flex;
    justify-content: space-between;
    
}
.auth a{
    margin: 0 10px;
    
   
    text-decoration: none;
    

}
.login{
    background-color: inherit;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 40px;
    width: 80px;
    text-align: center;
}
.login:hover{
    background-color: rgba(254, 198, 54, 1);
    color: white;
    border: none;
}
.signup{
    background-color: rgba(254, 198, 54, 1);
    color: white;
    padding: 10px;
    border-radius: 40px;
    width: 80px;
    text-align: center;
}
.signup:hover{
    background-color: inherit;
    color: white;
    border: 1px solid white;
}
