.navbar{
    padding: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static !important;
    z-index: 1000 !important;
    top: 0 !important;
    background-color: hsla(0, 100%, 1%, 0.61) !important;

}
.navbar-brand{
    color: white !important;
    
}
.navbar-brand span{
    color: red !important;
}
.navbar-nav li a{
    color: white !important;
    margin:0 20px ;
}
.navbar-nav li a span{
    color: red;
    margin-left: 10px;
}
.navbar-nav li a span:hover{
    color: white;
}
.navbar-nav li a:hover{
    color: red !important;
    border-bottom: 1px solid white;
    transition: 0.5s ease;
}
#nav-sign a{
    margin: 0 10px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bolder;

}
#nav-sign a:hover{
    background-color: white;
    color: red;
    transition: 0.5s ease;
}